/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  BASE STYLES  */

* {
	box-sizing: border-box;
}
body {
  font-family: 'DM Mono', monospace;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #333;
}

h1,h2 {
  font-family: 'Roboto', sans-serif;
}


h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
	color: #800080;
}

/* Article Styles */


.social-icon {
  width: 1vw;
  height: auto;
  padding: 3vw;
  display: inline-block;
  float: left;
}
.picture {
	width: 100%;
}
ul {
  list-style-type: none;
  list-style-image: initial;
}

li {
  display: inline;
}
.post {
	width: 95%;
	margin: 0 auto 1rem;
	padding: 0.3125rem;
}

/* Main Header Styles */

.main-header p {
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
	color: #8c8e9b;
}
.main-header {
	text-align: center;
	padding: 1.25rem;
	color: #fff;
	background-color: #DDA0DD;
}
  
.flag {
  width: 8vw;
  height: 6vw;
  padding: 1.5vw;
  float: right;
  position: relative;
  display: inline-block;
  bottom: 5rem;
  right: 8rem;
  top: 0.5rem;
  left: -1rem;
}

/* Media queries */

@media (min-width: 768px) {
.main-header {
			position: fixed;
			top: 0;
			height: 100%;
			width: 33.3%;
		}
}
@media (min-width: 768px) {

	.primary-content {
		float: right;
		width: 66.6%;
		max-width: 812px;
	}

}
@media (min-width: 1025px) {

	.main-header {
		width: 20.625%;
	}

}
@media (min-width: 1025px) {

	.primary-content {
		float: none;
		position: absolute;
        left: 20.625%;
	}
  }
